/* Nav lateral */

#barraLateral {
    min-height: 100vh;
    position: fixed;
}

.contenedor-principal {
    height: 100vh;
}

.border-right{
    height: auto;
    width: 190px;
    background-color: #413620;
}

.w-principal{
    height: 90% !important;
    margin-left: 190px;
}

.nav_dispo{
    margin-top: 5px;
}

.navbar-brand.p-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 100px;
}

#nav-horizontal{
    gap: 20px;
    display: flex;
}

#nav-horizontal a {

    color: white;
}

#nav-horizontal a:hover {
    color: #FFD791;
    background-color: rgba(0, 0, 0, 0.582);
}

#nav-horizontal.nav-item{
    gap: 10px;
}

.create-product{
    color: black !important;
    background-color: #FFD791;
    text-align: center;
}
.create-product:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #00000079;
}

.navbar-text{
    font-size: 40px;
    font-family: Cinzel;
}

#nav-collapse{
    gap: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px ;
}

#nav-collapse a:visited {
    color: rgb(0, 0, 0);
}

#nav-collapse a:hover {
    color: #FFD791;
    background-color: rgba(0, 0, 0, 0.582);
}

@media (max-width: 1600px) {

}


@media (max-width: 1210px) {


}


@media (max-width: 950px) {


}


@media (max-width: 767px) {

    .w-principal{
        height: 90%;
        margin-left: 0px;
    }

}

